.none {
  height:30px;
}

.about {
  padding:10px;
  height:auto;
}

form {
  padding: 20px;
  margin: 30px;
}

.form-control {
  background-color: #fafafa;
  width:250px;
  margin:5px:
}

.form-group {
  margin-bottom: 0px;
  padding:0px;
}
